<a href="https://colab.research.google.com/github/Ruoro/G2M_INSIGHTS/blob/main/G2M_Insight.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# G2M INSIGHTS

---

## 1. Business Understanding

XYZ is a private firm in US. Due to remarkable growth in the Cab Industry in last few years and multiple key players in the market, it is planning for an investment in Cab industry and as per their Go-to-Market(G2M) strategy they want to understand the market before taking final decision.

## 2. Data understanding

### Import libraries and dependancies

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import datetime

In [2]:
# load the data 
cab = pd.read_csv('Cab_Data.csv')
city = pd.read_csv('City.csv')
customer = pd.read_csv('Customer_ID.csv')
transaction = pd.read_csv('Transaction_ID.csv')  
print('Successfully Read Data')

Successfully Read Data

### Data Exploration

##### CAB

In [3]:
# Preview the cab dataset
cab.head()

   Transaction ID  Date of Travel  ... Price Charged Cost of Trip
0        10000011           42377  ...        370.95      313.635
1        10000012           42375  ...        358.52      334.854
2        10000013           42371  ...        125.20       97.632
3        10000014           42376  ...        377.40      351.602
4        10000015           42372  ...        114.62       97.776

[5 rows x 7 columns]

In [4]:
# preview data shape
cab.shape

(359392, 7)

In [5]:
# preview the stats of the df
cab.describe()

       Transaction ID  Date of Travel  ...  Price Charged   Cost of Trip
count    3.593920e+05   359392.000000  ...  359392.000000  359392.000000
mean     1.022076e+07    42964.067998  ...     423.443311     286.190113
std      1.268058e+05      307.467197  ...     274.378911     157.993661
min      1.000001e+07    42371.000000  ...      15.600000      19.000000
25%      1.011081e+07    42697.000000  ...     206.437500     151.200000
50%      1.022104e+07    42988.000000  ...     386.360000     282.480000
75%      1.033094e+07    43232.000000  ...     583.660000     413.683200
max      1.044011e+07    43465.000000  ...    2048.030000     691.200000

[8 rows x 5 columns]

In [8]:
# Find out the df column names
cab.columns

Index(['Transaction ID', 'Date of Travel', 'Company', 'City', 'KM Travelled',
       'Price Charged', 'Cost of Trip'],
      dtype='object')

In [10]:
# Finding the type of data in each column
cab.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 359392 entries, 0 to 359391
Data columns (total 7 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Transaction ID  359392 non-null  int64
 1   Date of Travel  359392 non-null  int64
 2   Company         359392 non-null  object
 3   City            359392 non-null  object
 4   KM Travelled    359392 non-null  float64
 5   Price Charged   359392 non-null  float64
 6   Cost of Trip    359392 non-null  float64
dtypes: float64(3), int64(2), object(2)
memory usage: 19.2+ MB

##### CITY

In [13]:
# Preview the city dataset
city.head()

             City   Population      Users
0     NEW YORK NY   8,405,837    302,149
1      CHICAGO IL   1,955,130    164,468
2  LOS ANGELES CA   1,595,037    144,132
3        MIAMI FL   1,339,155     17,675
4  SILICON VALLEY   1,177,609     27,247

In [14]:
# preview data shape
city.shape

(20, 3)

In [15]:
# preview the stats of the df
city.describe()

               City   Population      Users
count            20           20         20
unique           20           20         20
top     NEW YORK NY   8,405,837    302,149
freq              1            1          1

In [16]:
# Find out the df column names
city.columns

Index(['City', 'Population', 'Users'], dtype='object')

In [17]:
# Finding the type of data in each column
city.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   City        20 non-null     object
 1   Population  20 non-null     object
 2   Users       20 non-null     object
dtypes: object(3)
memory usage: 608.0+ bytes

##### CUSTOMER

In [18]:
# Preview the customer dataset
customer.head()

   Customer ID Gender  Age  Income (USD/Month)
0        29290   Male   28               10813
1        27703   Male   27                9237
2        28712   Male   53               11242
3        28020   Male   23               23327
4        27182   Male   33                8536

In [19]:
# preview data shape
customer.shape

(49171, 4)

In [20]:
# preview the stats of the df
customer.describe()

        Customer ID           Age  Income (USD/Month)
count  49171.000000  49171.000000        49171.000000
mean   28398.252283     35.363121        15015.631856
std    17714.137333     12.599066         8002.208253
min        1.000000     18.000000         2000.000000
25%    12654.500000     25.000000         8289.500000
50%    27631.000000     33.000000        14656.000000
75%    43284.500000     42.000000        21035.000000
max    60000.000000     65.000000        35000.000000

In [21]:
# Find out the df column names
customer.columns

Index(['Customer ID', 'Gender', 'Age', 'Income (USD/Month)'], dtype='object')

In [22]:
# Finding the type of data in each column
customer.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49171 entries, 0 to 49170
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Customer ID         49171 non-null  int64
 1   Gender              49171 non-null  object
 2   Age                 49171 non-null  int64
 3   Income (USD/Month)  49171 non-null  int64
dtypes: int64(3), object(1)
memory usage: 1.5+ MB

##### TRANSACTIONS

In [23]:
# Preview the Trasaction dataset
transaction.head()

   Transaction ID  Customer ID Payment_Mode
0        10000011        29290         Card
1        10000012        27703         Card
2        10000013        28712         Cash
3        10000014        28020         Cash
4        10000015        27182         Card

In [24]:
# preview data shape
transaction.shape

(440098, 3)

In [25]:
# preview the stats of the df
transaction.describe()

       Transaction ID    Customer ID
count    4.400980e+05  440098.000000
mean     1.022006e+07   23619.513120
std      1.270455e+05   21195.549816
min      1.000001e+07       1.000000
25%      1.011004e+07    3530.000000
50%      1.022006e+07   15168.000000
75%      1.033008e+07   43884.000000
max      1.044011e+07   60000.000000

In [26]:
# Find out the df column names
transaction.columns

Index(['Transaction ID', 'Customer ID', 'Payment_Mode'], dtype='object')

In [27]:
# Finding the type of data in each column
transaction.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 440098 entries, 0 to 440097
Data columns (total 3 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Transaction ID  440098 non-null  int64
 1   Customer ID     440098 non-null  int64
 2   Payment_Mode    440098 non-null  object
dtypes: int64(2), object(1)
memory usage: 10.1+ MB

## 3. Data Preparation

In [30]:
# check for missing values in all the data sets 
print("The missing values in the Cab dataset are: ", cab.isna().sum())
print("\n The missing values in the City dataset are: ", city.isna().sum())
print("\n The missing values in the Customer dataset are: ", customer.isna().sum())
print("\n The missing values in the Transactions dataset are: ", transaction.isna().sum())

The missing values in the Cab dataset are:  Transaction ID    0
Date of Travel    0
Company           0
City              0
KM Travelled      0
Price Charged     0
Cost of Trip      0
dtype: int64

 The missing values in the City dataset are:  City          0
Population    0
Users         0
dtype: int64

 The missing values in the Customer dataset are:  Customer ID           0
Gender                0
Age                   0
Income (USD/Month)    0
dtype: int64

 The missing values in the Transactions dataset are:  Transaction ID    0
Customer ID       0
Payment_Mode      0
dtype: int64

There are no missing values but there is a need to concact the datasets together to get better insigts from the data.


> In addition to merging the provided data, I thought I would add two more files to the data namely:


> 1.   Holiday dataset
> 2.   weather dataset

#### Holiday csv

In [33]:
# adding the holiday csv and previewing it 
holiday = pd.read_csv('holiday.csv')
holiday.head()

         Date                           Name_Holiday
0  2016-01-18             Martin Luther King Jr. Day
1  2016-02-15  Presidents Day (Washingtons Birthday)
2  2016-05-30                           Memorial Day
3  2016-07-04                       Independence Day
4  2016-09-05                              Labor Day

In [37]:
holiday.shape

(29, 2)

In [35]:
holiday.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Date          29 non-null     object
 1   Name_Holiday  29 non-null     object
dtypes: object(2)
memory usage: 592.0+ bytes

#### Weather Events

In [34]:
# Adding the weather dataset
weather = pd.read_csv('weather_events.csv')
weather.head()

   EventId  Type Severity        Date  LocationLat  LocationLng State
0        1  Rain    Light  2016-01-01      30.3371     -81.5127    FL
1        2  Rain    Light  2016-01-02      29.7086     -98.0453    TX
2        3  Rain    Light  2016-01-03      28.6150     -80.6945    FL
3        4  Cold   Severe  2016-01-04      44.3853     -74.2062    NY
4        5  Rain    Light  2016-01-05      35.6694    -120.6291    CA

## 4. Modelling

## 5. Evaluation