<a href="https://colab.research.google.com/github/Ruoro/G2M_INSIGHTS/blob/main/G2M_Insight.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# G2M INSIGHTS

---

## 1. Business Understanding

XYZ is a private firm in US. Due to remarkable growth in the Cab Industry in last few years and multiple key players in the market, it is planning for an investment in Cab industry and as per their Go-to-Market(G2M) strategy they want to understand the market before taking final decision.

## 2. Data understanding

### Import libraries and dependancies

In [74]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import datetime

In [75]:
# load the data 
cab = pd.read_csv('Cab_Data.csv')
city = pd.read_csv('City.csv')
customer = pd.read_csv('Customer_ID.csv')
transaction = pd.read_csv('Transaction_ID.csv')  
print('Successfully Read Data')

Successfully Read Data

### Data Exploration

##### CAB

In [76]:
# Preview the cab dataset
cab.head()

   Transaction ID  Date of Travel  ... Price Charged Cost of Trip
0        10000011           42377  ...        370.95      313.635
1        10000012           42375  ...        358.52      334.854
2        10000013           42371  ...        125.20       97.632
3        10000014           42376  ...        377.40      351.602
4        10000015           42372  ...        114.62       97.776

[5 rows x 7 columns]

In [77]:
# preview data shape
cab.shape

(359392, 7)

In [78]:
# preview the stats of the df
cab.describe()

       Transaction ID  Date of Travel  ...  Price Charged   Cost of Trip
count    3.593920e+05   359392.000000  ...  359392.000000  359392.000000
mean     1.022076e+07    42964.067998  ...     423.443311     286.190113
std      1.268058e+05      307.467197  ...     274.378911     157.993661
min      1.000001e+07    42371.000000  ...      15.600000      19.000000
25%      1.011081e+07    42697.000000  ...     206.437500     151.200000
50%      1.022104e+07    42988.000000  ...     386.360000     282.480000
75%      1.033094e+07    43232.000000  ...     583.660000     413.683200
max      1.044011e+07    43465.000000  ...    2048.030000     691.200000

[8 rows x 5 columns]

In [79]:
# Find out the df column names
cab.columns

Index(['Transaction ID', 'Date of Travel', 'Company', 'City', 'KM Travelled',
       'Price Charged', 'Cost of Trip'],
      dtype='object')

In [80]:
# Finding the type of data in each column
cab.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 359392 entries, 0 to 359391
Data columns (total 7 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Transaction ID  359392 non-null  int64
 1   Date of Travel  359392 non-null  int64
 2   Company         359392 non-null  object
 3   City            359392 non-null  object
 4   KM Travelled    359392 non-null  float64
 5   Price Charged   359392 non-null  float64
 6   Cost of Trip    359392 non-null  float64
dtypes: float64(3), int64(2), object(2)
memory usage: 19.2+ MB

##### CITY

In [81]:
# Preview the city dataset
city.head()

             City   Population      Users
0     NEW YORK NY   8,405,837    302,149
1      CHICAGO IL   1,955,130    164,468
2  LOS ANGELES CA   1,595,037    144,132
3        MIAMI FL   1,339,155     17,675
4  SILICON VALLEY   1,177,609     27,247

In [82]:
# preview data shape
city.shape

(20, 3)

In [83]:
# preview the stats of the df
city.describe()

               City   Population      Users
count            20           20         20
unique           20           20         20
top     NEW YORK NY   8,405,837    302,149
freq              1            1          1

In [84]:
# Find out the df column names
city.columns

Index(['City', 'Population', 'Users'], dtype='object')

In [85]:
# Finding the type of data in each column
city.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   City        20 non-null     object
 1   Population  20 non-null     object
 2   Users       20 non-null     object
dtypes: object(3)
memory usage: 608.0+ bytes

##### CUSTOMER

In [86]:
# Preview the customer dataset
customer.head()

   Customer ID Gender  Age  Income (USD/Month)
0        29290   Male   28               10813
1        27703   Male   27                9237
2        28712   Male   53               11242
3        28020   Male   23               23327
4        27182   Male   33                8536

In [87]:
# preview data shape
customer.shape

(49171, 4)

In [88]:
# preview the stats of the df
customer.describe()

        Customer ID           Age  Income (USD/Month)
count  49171.000000  49171.000000        49171.000000
mean   28398.252283     35.363121        15015.631856
std    17714.137333     12.599066         8002.208253
min        1.000000     18.000000         2000.000000
25%    12654.500000     25.000000         8289.500000
50%    27631.000000     33.000000        14656.000000
75%    43284.500000     42.000000        21035.000000
max    60000.000000     65.000000        35000.000000

In [89]:
# Find out the df column names
customer.columns

Index(['Customer ID', 'Gender', 'Age', 'Income (USD/Month)'], dtype='object')

In [90]:
# Finding the type of data in each column
customer.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49171 entries, 0 to 49170
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Customer ID         49171 non-null  int64
 1   Gender              49171 non-null  object
 2   Age                 49171 non-null  int64
 3   Income (USD/Month)  49171 non-null  int64
dtypes: int64(3), object(1)
memory usage: 1.5+ MB

##### TRANSACTIONS

In [91]:
# Preview the Trasaction dataset
transaction.head()

   Transaction ID  Customer ID Payment_Mode
0        10000011        29290         Card
1        10000012        27703         Card
2        10000013        28712         Cash
3        10000014        28020         Cash
4        10000015        27182         Card

In [92]:
# preview data shape
transaction.shape

(440098, 3)

In [93]:
# preview the stats of the df
transaction.describe()

       Transaction ID    Customer ID
count    4.400980e+05  440098.000000
mean     1.022006e+07   23619.513120
std      1.270455e+05   21195.549816
min      1.000001e+07       1.000000
25%      1.011004e+07    3530.000000
50%      1.022006e+07   15168.000000
75%      1.033008e+07   43884.000000
max      1.044011e+07   60000.000000

In [94]:
# Find out the df column names
transaction.columns

Index(['Transaction ID', 'Customer ID', 'Payment_Mode'], dtype='object')

In [95]:
# Finding the type of data in each column
transaction.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 440098 entries, 0 to 440097
Data columns (total 3 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Transaction ID  440098 non-null  int64
 1   Customer ID     440098 non-null  int64
 2   Payment_Mode    440098 non-null  object
dtypes: int64(2), object(1)
memory usage: 10.1+ MB

## 3. Data Preparation

In [96]:
# check for missing values in all the data sets 
print("The missing values in the Cab dataset are: ", cab.isna().sum())
print("\n The missing values in the City dataset are: ", city.isna().sum())
print("\n The missing values in the Customer dataset are: ", customer.isna().sum())
print("\n The missing values in the Transactions dataset are: ", transaction.isna().sum())

The missing values in the Cab dataset are:  Transaction ID    0
Date of Travel    0
Company           0
City              0
KM Travelled      0
Price Charged     0
Cost of Trip      0
dtype: int64

 The missing values in the City dataset are:  City          0
Population    0
Users         0
dtype: int64

 The missing values in the Customer dataset are:  Customer ID           0
Gender                0
Age                   0
Income (USD/Month)    0
dtype: int64

 The missing values in the Transactions dataset are:  Transaction ID    0
Customer ID       0
Payment_Mode      0
dtype: int64

There are no missing values but there is a need to concact the datasets together to get better insigts from the data.


> In addition to merging the provided data, I thought I would add two more files to the data namely:


> 1.   Holiday dataset
> 2.   weather dataset

#### Holiday csv

In [97]:
# adding the holiday csv and previewing it 
holiday = pd.read_csv('holiday.csv')
holiday.head()

         Date                           Name_Holiday
0  2016-01-18             Martin Luther King Jr. Day
1  2016-02-15  Presidents Day (Washingtons Birthday)
2  2016-05-30                           Memorial Day
3  2016-07-04                       Independence Day
4  2016-09-05                              Labor Day

In [98]:
holiday.shape

(29, 2)

In [99]:
holiday.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Date          29 non-null     object
 1   Name_Holiday  29 non-null     object
dtypes: object(2)
memory usage: 592.0+ bytes

In [100]:
holiday.describe()

              Date                Name_Holiday
count           29                          29
unique          29                          10
top     2016-01-18  Martin Luther King Jr. Day
freq             1                           3

#### Weather Events

In [101]:
# Adding the weather dataset
weather = pd.read_csv('weather_events.csv')
weather.head()

   EventId  Type Severity        Date  LocationLat  LocationLng State
0        1  Rain    Light  2016-01-01      30.3371     -81.5127    FL
1        2  Rain    Light  2016-01-02      29.7086     -98.0453    TX
2        3  Rain    Light  2016-01-03      28.6150     -80.6945    FL
3        4  Cold   Severe  2016-01-04      44.3853     -74.2062    NY
4        5  Rain    Light  2016-01-05      35.6694    -120.6291    CA

In [102]:
# Check for the shape
weather.shape

(1095, 7)

In [103]:
# column names
weather.columns

Index(['EventId', 'Type', 'Severity', 'Date', 'LocationLat', 'LocationLng',
       'State'],
      dtype='object')

In [104]:
# Severity levels
weather['Severity'].unique()

array(['Light', 'Severe', 'Moderate', 'Heavy', 'UNK', 'Other'],
      dtype=object)

In [105]:
# Different weather patterns
weather['Type'].unique()

array(['Rain', 'Cold', 'Fog', 'Snow', 'Precipitation', 'Storm', 'Hail'],
      dtype=object)

#### merging the data

Based on the previous analysis, the different dataframes have several relationships. Therefore, I need the column of each data frame to be of the same type. Now I need to make sure of that.

- First, I'll merge this two dataframes(Holydays and WeatherEvents_Jan2016-Dec2018)

- Second, I'll merge this four dataframes(Customer_ID, Transaction_ID, Cab_Data and City)

- Third, I'll merge the result of that two dataframe that I have merged before

The Weather and the holiday dates are not parsed in the correct fomart therefore we have to fix that. 

Also the data in the date of travel in the cab data is not correctly parsed

In [106]:
# Converting the date data to apprpriate data type
weather['Date'] = pd.to_datetime(weather["Date"])
holiday['Date'] = pd.to_datetime(holiday["Date"])
print ("Converted successfully")

Converted successfully

In [107]:
# confirming
print(weather.info())
print(holiday.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1095 entries, 0 to 1094
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   EventId      1095 non-null   int64
 1   Type         1095 non-null   object
 2   Severity     1095 non-null   object
 3   Date         1095 non-null   datetime64[ns]
 4   LocationLat  1095 non-null   float64
 5   LocationLng  1095 non-null   float64
 6   State        1095 non-null   object
dtypes: datetime64[ns](1), float64(2), int64(1), object(3)
memory usage: 60.0+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Date          29 non-null     datetime64[ns]
 1   Name_Holiday  29 non-null     object
dtypes: datetime64[ns](1), object(1)
memory usage: 592.0+ bytes
None

In [108]:
# imports
from datetime import date, timedelta, datetime

# conversion
cab['Date of Travel'] = cab['Date of Travel'].map(lambda x: (date(1899,12,30) + timedelta(days=x)).strftime("%Y-%m-%d"))
cab['Date of Travel'] = pd.to_datetime(cab['Date of Travel'])
cab.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 359392 entries, 0 to 359391
Data columns (total 7 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Transaction ID  359392 non-null  int64
 1   Date of Travel  359392 non-null  datetime64[ns]
 2   Company         359392 non-null  object
 3   City            359392 non-null  object
 4   KM Travelled    359392 non-null  float64
 5   Price Charged   359392 non-null  float64
 6   Cost of Trip    359392 non-null  float64
dtypes: datetime64[ns](1), float64(3), int64(1), object(2)
memory usage: 19.2+ MB

In [109]:
# first merge
first =holiday.merge(weather, on='Date', how="right")
first.columns

Index(['Date', 'Name_Holiday', 'EventId', 'Type', 'Severity', 'LocationLat',
       'LocationLng', 'State'],
      dtype='object')

In [110]:
# second merge
second =customer.merge(transaction, on='Customer ID').merge(cab, on='Transaction ID').merge(city, on='City')
second.columns

Index(['Customer ID', 'Gender', 'Age', 'Income (USD/Month)', 'Transaction ID',
       'Payment_Mode', 'Date of Travel', 'Company', 'City', 'KM Travelled',
       'Price Charged', 'Cost of Trip', 'Population', 'Users'],
      dtype='object')

#### Exploring the final dataframe

In [111]:
# check the shape
df_final.shape

(359392, 18)

In [112]:
df_final.head()

   Customer ID Gender  Age  Income (USD/Month)  ...  Type Month  Year    Profit
0        29290   Male   28               10813  ...  Rain     1  2016   57.3150
1        29290   Male   28               10813  ...  Rain     7  2018  281.2772
2        29290   Male   28               10813  ...   Fog    11  2018  194.6480
3        27703   Male   27                9237  ...  Rain     1  2016   23.6660
4        27703   Male   27                9237  ...  Snow     4  2018  253.9808

[5 rows x 18 columns]

There are some null characters in the data set.

In [113]:
# check the number of missing values
df_final.isnull().sum()

Customer ID             0
Gender                  0
Age                     0
Income (USD/Month)      0
Transaction ID          0
Payment_Mode            0
Company                 0
City                    0
KM Travelled            0
Price Charged           0
Cost of Trip            0
Population              0
Users                   0
Name_Holiday            0
Type                  256
Month                   0
Year                    0
Profit                  0
dtype: int64

The number of missing variables is what should be expected but we should still clean the dataset to derive good insights.

In [114]:
# check the number of unique valuesin the dataset
df_final.nunique()

Customer ID            46148
Gender                     2
Age                       48
Income (USD/Month)     22725
Transaction ID        359392
Payment_Mode               2
Company                    2
City                      19
KM Travelled             874
Price Charged          99176
Cost of Trip           16291
Population                19
Users                     19
Name_Holiday               1
Type                       7
Month                     12
Year                       3
Profit                301825
dtype: int64

In [115]:
df_final.describe()

         Customer ID            Age  ...           Year         Profit
count  359392.000000  359392.000000  ...  359392.000000  359392.000000
mean    19191.652115      35.336705  ...    2017.045199     137.253198
std     21012.412463      12.594234  ...       0.800239     160.311840
min         1.000000      18.000000  ...    2016.000000    -220.060000
25%      2705.000000      25.000000  ...    2016.000000      28.012000
50%      7459.000000      33.000000  ...    2017.000000      81.962000
75%     36078.000000      42.000000  ...    2018.000000     190.030000
max     60000.000000      65.000000  ...    2018.000000    1463.966000

[8 rows x 12 columns]

In [116]:
# final merge
df_final=second.merge(first, left_on="Date of Travel", right_on="Date",how='left')
print(df_final.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 359392 entries, 0 to 359391
Data columns (total 22 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   Customer ID         359392 non-null  int64
 1   Gender              359392 non-null  object
 2   Age                 359392 non-null  int64
 3   Income (USD/Month)  359392 non-null  int64
 4   Transaction ID      359392 non-null  int64
 5   Payment_Mode        359392 non-null  object
 6   Date of Travel      359392 non-null  datetime64[ns]
 7   Company             359392 non-null  object
 8   City                359392 non-null  object
 9   KM Travelled        359392 non-null  float64
 10  Price Charged       359392 non-null  float64
 11  Cost of Trip        359392 non-null  float64
 12  Population          359392 non-null  object
 13  Users               359392 non-null  object
 14  Date                359136 non-null  datetime64[ns]
 15  Name_Holiday        7577 non-null    object
 16  EventId             359136 non-null  float64
 17  Type                359136 non-null  object
 18  Severity            359136 non-null  object
 19  LocationLat         359136 non-null  float64
 20  LocationLng         359136 non-null  float64
 21  State               359136 non-null  object
dtypes: datetime64[ns](2), float64(6), int64(4), object(10)
memory usage: 63.1+ MB
None

From the Analysis we can see that:
- population needs to be changed to int data type
- turn users into int data type
- In Name_Holiday column i will fill it the NaN values with "Not a Holiday"
- Separate Date of Travel column in Month and Year column:

  - Date of Travel --> Month

  - Date of Travel --> Year

- Drop the null values
- Drop irrelevant columns

In [117]:
# Separate the month and year columns
df_final["Month"]=df_final["Date of Travel"].map(lambda x: x.month)
df_final["Year"]=df_final["Date of Travel"].map(lambda x: x.year)

In [118]:
df_final.head()

   Customer ID Gender  Age  Income (USD/Month)  ...  LocationLng State Month  Year
0        29290   Male   28               10813  ...     -82.5400    FL     1  2016
1        29290   Male   28               10813  ...     -89.0933    IL     7  2018
2        29290   Male   28               10813  ...    -121.4103    CA    11  2018
3        27703   Male   27                9237  ...    -121.7900    CA     1  2016
4        27703   Male   27                9237  ...    -104.5431    CO     4  2018

[5 rows x 24 columns]

Dropping irrelevant columns
- Customer ID 
- Transaction ID 
- EventId 
- LocationLat 
- LocationLng 
- State

In [119]:
drop_cols=['EventId', 'Severity', 'LocationLat', 'LocationLng',"Date of Travel", 'Date', "State"]
df_final.drop(columns=drop_cols, inplace=True)

In [120]:
df_final.head()

   Customer ID Gender  Age  Income (USD/Month)  ...  Name_Holiday  Type Month  Year
0        29290   Male   28               10813  ...           NaN  Rain     1  2016
1        29290   Male   28               10813  ...           NaN  Rain     7  2018
2        29290   Male   28               10813  ...           NaN   Fog    11  2018
3        27703   Male   27                9237  ...           NaN  Rain     1  2016
4        27703   Male   27                9237  ...           NaN  Snow     4  2018

[5 rows x 17 columns]

convering the population and users to int

In [121]:
# removing the spaces and the commas in the values
# Removing commas
df_final['Population'] = df_final['Population'].str.replace(',', '') 
df_final['Users'] = df_final['Users'].str.replace(',', '')

# converting to numeric
df_final['Population'] = pd.to_numeric(df_final['Population'])
df_final['Users'] = pd.to_numeric(df_final['Users'])

df_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 359392 entries, 0 to 359391
Data columns (total 17 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   Customer ID         359392 non-null  int64
 1   Gender              359392 non-null  object
 2   Age                 359392 non-null  int64
 3   Income (USD/Month)  359392 non-null  int64
 4   Transaction ID      359392 non-null  int64
 5   Payment_Mode        359392 non-null  object
 6   Company             359392 non-null  object
 7   City                359392 non-null  object
 8   KM Travelled        359392 non-null  float64
 9   Price Charged       359392 non-null  float64
 10  Cost of Trip        359392 non-null  float64
 11  Population          359392 non-null  int64
 12  Users               359392 non-null  int64
 13  Name_Holiday        7577 non-null    object
 14  Type                359136 non-null  object
 15  Month               359392 non-null  int64
 16  Year                359392 non-null  int64
dtypes: float64(3), int64(8), object(6)
memory usage: 49.4+ MB

Success

finding the profit of the cab ride

In [122]:
# Calculating profit
df_final['Profit'] = df_final['Price Charged'] - df_final['Cost of Trip']
df_final.head()

   Customer ID Gender  Age  Income (USD/Month)  ...  Type Month  Year    Profit
0        29290   Male   28               10813  ...  Rain     1  2016   57.3150
1        29290   Male   28               10813  ...  Rain     7  2018  281.2772
2        29290   Male   28               10813  ...   Fog    11  2018  194.6480
3        27703   Male   27                9237  ...  Rain     1  2016   23.6660
4        27703   Male   27                9237  ...  Snow     4  2018  253.9808

[5 rows x 18 columns]

Replacing the NAN on Name_Holiday to not a holiday

In [123]:
# check the unique values of holiday
df_final['Name_Holiday'].unique()

array([nan, 'New Year Day', 'Martin Luther King Jr. Day', 'Memorial Day',
       'Veterans Day', 'Independence Day', 'Labor Day',
       'Presidents Day (Washingtons Birthday)', 'Christmas Day',
       'Thanksgiving Day', 'Columbus Day'], dtype=object)

In [124]:
# Replacing None with a value
df_final['Name_Holiday'].fillna("Not a Holiday", inplace = True)
df_final.Name_Holiday.unique()

array(['Not a Holiday', 'New Year Day', 'Martin Luther King Jr. Day',
       'Memorial Day', 'Veterans Day', 'Independence Day', 'Labor Day',
       'Presidents Day (Washingtons Birthday)', 'Christmas Day',
       'Thanksgiving Day', 'Columbus Day'], dtype=object)

In [125]:
# Check the missing values
df_final.isna().sum()

Customer ID             0
Gender                  0
Age                     0
Income (USD/Month)      0
Transaction ID          0
Payment_Mode            0
Company                 0
City                    0
KM Travelled            0
Price Charged           0
Cost of Trip            0
Population              0
Users                   0
Name_Holiday            0
Type                  256
Month                   0
Year                    0
Profit                  0
dtype: int64

There are a few missing values in the type column

In [126]:
# check the values of the columns
df_final['Type'].unique()

array(['Rain', 'Fog', 'Snow', 'Storm', 'Cold', 'Precipitation', nan,
       'Hail'], dtype=object)

In [127]:
df_final.shape

(359392, 18)

Since there are only 256 missing values in a data set of 359,000 entries it would not affect the analysis if we droped the columns

In [128]:
# Droping Null values
df_final.dropna(inplace = True)
df_final.shape

(359136, 18)

## 4. Modelling

### Exploratory Data Analysis

Hypothesis to investigate 
1. Which company has maximum cab users at a particular time period?

2. Does margin proportionally increase with increase in number of customers?

3. What are the attributes of these customer segments?

## 5. Evaluation